<html>
<head>
	<title>Sartiah14116166</title>
</head>
<style>
body {
	background-image: url(/assets/img/sativa.png);
}
.container {
  width: 100%;
  margin: auto;
  background-color: white;
}
  
.header {
}

.header .judul {
  font-size: 40px;
  font-weight: bold;
  margin: 10px;
}
.header ul li {
  display: inline-block;
  margin-right: 50px;
  margin-left: -30px;
}
.header a {
  text-decoration: none;
  color: salmon;
}

.header a:hover {
  background-color: lightskyblue;
  color: white;
}

.footer {
  background-color: pink;
}
.footer .copy {
  color: black;
  text-align: center;
  padding: 10px;
  font-size: 15px;
}
.gambar1 {
	height: 340px;
	background-image: url(prof.jpg);
	background-size: cover;
	background-position: 0 -50;
	border-bottom : 5px solid lightskyblue;
	border-top: 5px solid salmon;
}
.content {
  padding: 10px;
  border-top: 5px solid salmon;

}

.content h2{
  font-size: 28px;
  font-weight: bold;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
  	padding: 10px;
}

.grid-container > div {
  background-color: gray (255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.galery1 {
  grid-row: 1 / 2;
}

 img {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 250px;
  width: 330px;
  border-bottom : 5px solid lightskyblue;
  border-top: 5px solid lightskyblue;
  border-left : 5px solid lightskyblue;
  border-right: 5px solid lightskyblue;
}	

</style>
<body>
	<div class="container">
		<div class="header">			
			<h1 class="judul">Selamat Datang di Website Saya </h1>
			<ul>
			 <li><a href="/">Home</a></li>
       		 <li><a href="/profile">Profile</a></li>
        	<li><a href="/galery">Galery</a></li>	
			</ul>
		</div>	
		<div class="content">
			<h2> Galery Foto</h2>
		</div>
		<div class="grid-container">
		  <div class="galery1"><img src="/assets/img/galeri1.jpg"></div>
		  <div class="galery2"><img src="/assets/img/galeri2.jpg"></div>
		  <div class="galery3"><img src="/assets/img/galeri1.jpg"></div>
		  <div class="galery4"><img src="/assets/img/galeri2.jpg"></div>
		</div>	
		<div class="footer">
			<p class="copy"> @sartiahtia_Teknik_Informatika</p>
		</div>
	</div>
</body>
</html>